@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        This application can be used to create and manage league for Football enthusiasts.
        Click  <a asp-controller="League" asp-action="Index">Here</a>
        to get started!
    </p>

    <h2>How to Use this application:</h2> 
    <p>To get started Register an Account and verify your email</p>
    <p>Once registered, navigate by clicking Leagues in the top left</p>
    <p>Here all your created leagues will be listed. To add a new one, click Create New League in the top left.</p>
    <p>Fill Out the name of the league and the creation date and hit create</p>
    <p>The added information can be edited, viewed on a details page, deleted and the seasons can be managed.
    When Deleting, keep in mind that all seasons and additional information will also be deleted forever, so be sure you really want that to happen</p>
    <p>To continue, click show seasons to manage the seasons</p>
    <p>Here all seasons will be listed. To get started, click Create new Season in the Top left</p>
    <p>Enter a name and click create to continue.</p>
    <p>Seasons can also be viewed in Edited, viewed in detail and deleted. When deleted the season is lost forever, so be careful</p>
    <p>To Continue click edit to add teams to the season.</p>
    <p>To add a Team to a season, Enter the name and hit Add team. The team is added to the season. Teams that are not wanted can be deleted here</p>
    <p>Add all the teams you want, and click Start Season, to create a schedule and standings. Be aware, that once a season has started, the teams can no longer be edited</p>
    <p>When a season has started, the Standings become available from the seasons management page</p>
    <p>On the standings page, the current standings as well as results can be seen. The Scores can be edited and saved. Upon saving, the new standings are calculated</p>

    <p>I hope you enjoy this Application, and have Fun :)</p>

</div>
