@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        This application can be used to create and manage league for Football enthusiasts.
        Click  <a class="navbar-brand" asp-controller="League" asp-action="Index">Here</a>
        to get started!
    </p>
</div>
